<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Rails With AngularJS</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all' %>

		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>   
		<script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script> <!--angular-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular-animate.js"></script> <!--angular-animate-->

	</head>
	<body ng-controller="MyNavCtrl as ctnav">
		<div ng-include="'/home/navbar.html'"></div>
		<h1>Home Page</h1>
		<p id="flash" class="flash">&nbsp;</p>
		<ul>
			<li>Find me in app/views/home/index.html.erb</li>
			<li>Find my Rails controller in /app/controllers/home_controller.rb </li>
		</ul>
		<div id = "ngView" ng-view ></div> <!--ng-view-->
		<%= javascript_include_tag 'application' %>
	</body>
</html>
