<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all' %>

	</head>
	<body>
		<h1 >Home Page</h1>

		<p>
		<a href="#/view1">Template 1</a>
		<a href="#/view2">Template 2</a>
		</p>

		<div id = "ngView" ng-view ></div> <!--ng-view-->

		<%= javascript_include_tag 'application' %>

	</body>
</html>
