<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Rails With AngularJS</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all' %>
	</head>
	<body ng-controller="MyNavCtrl as ctnav">
		<div ng-include="'/home/navbar.html'"></div>
		<h1>Home Page</h1>
		<p id="flash" class="flash">&nbsp;</p>
		<ul>
			<li>Find me in app/views/home/index.html.erb</li>
			<li>Find my Rails controller in /app/controllers/home_controller.rb </li>
		</ul>
		<div id = "ngView" ng-view ></div> <!--ng-view-->
		<%= javascript_include_tag 'application' %>
	</body>
</html>
