<div class="template">

  <h2>{{ct2.templateTitle}}</h2>

  <p>Message: {{ct2.message}}</p>
  <div ng-include="'/home/infong.html'"></div>
  <h3>An Exmaple of the Use of Services</h3>

  <p>An example of ng-repeat, ordered alphabetically</p>
  <table>
    <tr>
      <th>County</th>
      <th>Wins</th>
    </tr>
    <tr ng-repeat="c in ct2.winners | orderBy: 'name' ">
      <td>{{ c.name }}</td>
      <td>{{ c.winners }}</td>
    </tr>
  </table>

  <p>An example of ng-repeat, ordered by number of wins</p>
  <table>
    <tr>
      <th>County</th>
      <th>Wins</th>
    </tr>
    <tr ng-repeat="c in ct2.winners | orderBy: '-winners' ">
      <td>{{ c.name }}</td>
      <td>{{ c.winners }}</td>
    </tr>
  </table>
  <p>find my data in /app/assets/javascripts/angular/ng_services.js</p>
  </ul>
  <h3>Get Data from External Api</h3>
  <h4>Football All-Ireland Winners</h4>
  <table>
    <tr>
      <th>County</th>
      <th>Wins</th>
      <th>First</th>
      <th>Last</th>
    </tr>
    <tr ng-repeat="n in ct2.gaaData | orderBy: '-wintotal' ">
      <td>{{ n.county | capitalize }}</td>
      <td>{{ n.wintotal }}</td>
      <td>{{ n.winfirst }}</td>
      <td>{{ n.winlast }}</td>
    </tr>
  </table>
  <p>Data obtained externally from <a href="http://dowapi.tomgdow.com/football_all_irelands.json">http://dowapi.tomgdow.com/football_all_irelands.json</a></p>
  <h4>Hurling All-Ireland Winners</h4>
  <table>
    <tr>
      <th>County</th>
      <th>Wins</th>
      <th>First</th>
      <th>Last</th>
    </tr>
    <tr ng-repeat="n in ct2.hurlingData | orderBy: '-wintotal' ">
      <td>{{ n.county | capitalize }}</td>
      <td>{{ n.wintotal }}</td>
      <td>{{ n.winfirst }}</td>
      <td>{{ n.winlast }}</td>
    </tr>
  </table>
  <p>Data obtained externally from <a href="http://dowapi.tomgdow.com/hurling_all_irelands.json">http://dowapi.tomgdow.com/hurling_all_irelands.json</a></p>
</div> 
