<div class="template">
  <p>{{ct4.message}} </p> 
  <div ng-bind-html="ct4.newproduct" ></div>
  <div ng-include="'/home/infong.html'"></div>
  <ul>
    <li>Find my Rails controller in /app/controllers/products_controller.rb </li>
  </ul>
</div> 
