<div class="template">
  <p>Current Product Id: {{ct6.currentId}}</p>
  <p>{{ct6.message}} </p> 
  <div  ng-bind-html="ct6.edit" ></div>
  <div ng-include="'/home/infong.html'"></div>
  <ul>
    <li>Find my Rails controller in /app/controllers/products_controller.rb </li>
  </ul>
</div> 
