<div class="template">
  <p id="flash" class="flash"></p>
  <div ng-include="'/home/subnavbar.html'"></div>
  <h2>{{ct3.title_sport}}</h2>
  <my-table template='tablep' collection="ct3.sport"></my-table>
  <div ng-include="'/home/infong.html'"></div>
  <ul>
    <li>Find my Rails controller in /app/controllers/products_controller.rb </li>
  </ul>
</div> 
